@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background: #2e3440;
  color: #d8dee9;
}

a {
  color: #a3be8c;
}

.contentContainer {
  margin: 10%;
  margin-top: 120px;
}
