.headerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid black;
  top: 0;
  background: #3b4252;
}

.headerLeft {
  padding-left: 50px;
}

.headerRight {
  width: 20%;
  min-width: 200px;
  padding-right: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a:hover {
  cursor: pointer;
}

.activeTab {
  color: #8fbcbb;
  border: 1px solid #8fbcbb;
  padding: 10px;
}
