.contactContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.educationHeader,
.experienceHeader,
.extracurricularsHeader {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
